*.csv
*.rds
*.RData
*.Rhistory
*.log
*.RDataTmp 
*.DS_Store
*.png
literature
code
writeup
OLD

!data/*
!df_cdfScore_q_chalky_given_uv_array_m63.csv
!df_eMaxScore_q_chalky_npq.csv
!df_entropy_conversion.csv

!df_Belmont_5-21-23.csv
!df_Belmont_6-10-23.csv

code_2
